<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="CS-BAOYAN/CS-BAOYAN-2025"
  data-repo-id="R_kgDOM44fMA"
  data-category="Announcements"
  data-category-id="DIC_kwDOM44fMM4Ci6RT"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>